* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: rgba(0, 255, 255, 0.2);
  padding-top: 10px;
}

@media (max-width: 800px) {
    footer {
        padding: 20px 10px;
    }
    footer img {
        display: none;
    }

    .event {
        flex-wrap: wrap;
        gap: 20px !important;
        padding: 20px 10px !important;
    }

    .contact-block {
        flex-wrap: wrap;
        gap: 20px !important;
    }

    .media-li {
        display: none;
    }
}

@media (max-width: 480px) {
  .intro {
    height: 380px !important;
  }
    .form-custom {
        align-items: center !important;
        flex-wrap: wrap;
    }

    .event-item p {
      font-size: 14px !important;
    }

    header button {
      display: none !important;
    }

    .event-action {
      width: 100%;
    }

    .event-block p {
      font-size: 18px !important;
    }
}