.event {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding: 70px 30px;
}

.event-block h2 {
    color: rgba(19, 20, 29, .9);
    font-size: 35px;
    font-weight: 500;
}

.event-block p {
    color: rgba(19, 20, 29, .9);
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 15px;
}