.about {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.about-tick {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}

.about-tick-title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-weight: 500;
    font-size: 25px;
    color: rgba(255, 100, 0, 1);
    line-height: 1
}

.about-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(212, 211, 211, 0.1);
  border: 1px solid rgba(95, 95, 95, 0.1);
  border-radius: 20px;
  padding: 15px;
}

.about-item:hover {
  border-color: rgba(255, 100, 0, 0.8);
}

.about-item p {
  margin-top: 0 !important;
}

.about-item p span {
  font-weight: 500;
  color: rgba(255, 100, 0, 0.8);
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  margin: 0;
  color: rgba(255, 100, 0, 1);
  font-size: 23px;
  font-weight: 600;
  line-height: 1.3;
}

.marquee-content {
  display: inline-block;
  animation: marquee-loop 20s linear infinite;
}

@keyframes marquee-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
}

.event {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to right, rgba(0, 255, 255, 1), #4fc3f7);
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.event-block h2 {
    color: rgba(19, 20, 29, .9);
    font-size: 23px;
    font-weight: 500;
}

.event-block p {
    color: rgba(255, 100, 0, 1);
    font-size: 20px;
    margin-top: 15px;
}

.event-block.form {
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.event-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: rgba(212, 211, 211, 0.1);
    border: 1px solid rgb(95, 95, 95, 0.7);
    border-radius: 20px;
    padding: 5px;
}

.event-item:hover {
    border-color: rgba(255, 100, 0, 0.8);
}

.event-item p {
    margin-top: 0 !important;
}

.event-item p span {
    font-weight: 500;
    color: rgba(255, 100, 0, 0.8);
}

.ant-input-number {
    width: 57% !important;
    background-color: transparent;
    border: none !important;
}

.ant-input-number-outlined:focus, .ant-input-number-outlined:hover, .ant-input-number-outlined:focus-within {
    background-color: transparent !important;
    box-shadow: none !important;
}

.ant-input-number-action {
    border: none !important;
}

.form-custom {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.form-custom button {
    height: 42px;
    background-color: rgba(255, 100, 0, 0.8);
    border-radius: 20px;
    font-size: 17px;
}

.event-action {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.event-action .text {
    width: 100%;
    font-size: 10px;
    line-height: 100%;
    color: rgb(95, 95, 95, 0.6);
    text-decoration: underline;
    cursor: pointer;
    text-transform: uppercase;
}