.intro {
    background-image: url('/images/intro-fon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 800px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.intro::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.intro-content {
    position: relative;
    z-index: 2;
    padding: 60px;
}

.intro-content__item {
    background-image: url('/images/yellow-fon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 560px;
    width: 100%;
    height: 356px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.intro-content__item h1 {
    font-size: 7rem;
    color: rgba(19, 20, 29, .9);
    line-height: 112%;
}

.intro-content__item img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}