apiVersion: v1
kind: Service
metadata:
  name: "{{ .Release.Name }}"
spec:
  type: ClusterIP
  selector:
    app: "{{ .Release.Name }}"
  ports:
    - protocol: TCP
      port: 80
      targetPort: {{ .Values.config.http.port }}