.video {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.video .ant-image {
    width: 100%;
    height: 600px !important;
}

.video .ant-image img {
    height: 600px !important;
    object-fit: cover;
}